
/*tablet*/
@media(max-width:768px) and (min-width: 480px){
    


    .info-container{
        display: column;

    }
    .info{
        text-align: center;
    }
    .card-subtitle{
        font-size: 1.2rem;
      font-weight: 400;
     margin: 1rem 0;
    }

}
/*mobile phones
@media(max-width:480px){

}
*/